main {
  height: 1vh;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 0.7fr 2fr 0.7fr;
}
.centr {
  position: relative;
  grid-column: 2/3;
}
.left {
  z-index: 7;
  grid-column: 1/2;
  background-color: cadetblue;
}
.right {
  z-index: 7;
  grid-column: 3/4;
  background-color: cadetblue;
}
.game_over {
  z-index: 3;
  position: absolute;
  width: 100%;
  top: 0px;
  left: 100%;
  visibility: hidden;
}
.game_over.run {
  visibility: visible;
  transition: all 2s ease;
  top: 40%;
  left: 0px;
}
.over {
  text-align: center;
  font-size: 50px;
  color: coral;
}
