
@import url('_menu.less');
@import url('_table.less');


*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}

html {
  max-width: 1200px;
  background-color: rgba(136, 169, 196, 0.815);
  margin: 0 auto;

}
body {
  background-color: #d3cfcf;
  font-size: 18px;
  font-family: "Roboto";
}

table {
  border-collapse: collapse;
  margin: 50px auto;
}
td {
  border: 2px solid rgb(242, 244, 245);
  width: 26px;
  height: 26px;
  text-align: center;
  position: relative;
}
.pole {
  padding: 10px;
  background-color: rgba(136, 192, 183, 0.829);
}

table {
  background-color: rgb(130, 172, 158);
}

